<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tn.esprit.autoidsys.smartshop" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:name=".utils.SmartShopApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.ScannerActivity"
            android:label="Smart Shopping" >

        </activity>
        <activity
            android:name=".activities.ProductActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.ListCategoriesActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="tn.esprit.autoidsys.smartshop.activities.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="tn.esprit.autoidsys.smartshop.activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name="tn.esprit.autoidsys.smartshop.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="tn.esprit.autoidsys.smartshop.activities.ChatHeadActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity="jp.co.recruit.floatingview.ChatHeadActivity"/>
        <service
            android:name="tn.esprit.autoidsys.smartshop.utils.ChatHeadService"
            android:exported="false"/>

    </application>

</manifest>
